@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --space-header: 1.2rem;
  --letter-space: 0.1rem;
  --pressed-box: #666;
  --hover-box: #444;
  --win-box: rgb(31, 125, 31);
  --lost-box: rgb(176, 17, 17);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  max-width: 120rem;
  font-size: 1.6rem;
  margin: 0 auto;
  background-color: rgb(255, 235, 205);
}

/* Pure css */

.container {
  display: flex;
  flex-direction: column;
  height: 62rem;
  background-color: rgb(255, 235, 205);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--space-header);
}
.header-text {
  margin-left: var(--space-header);
  letter-spacing: var(--letter-space);
  background: -webkit-linear-gradient(rgb(54, 106, 162), rgb(5, 58, 5));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

/* buttons */
.btns {
  display: flex;
  gap: 2rem;
  margin-right: var(--space-header);
}

.btn {
  background-color: rgb(75, 68, 138);
  color: white;
  font-size: 1.6rem;
  letter-spacing: var(--letter-space);
  border-radius: 1rem;
  padding: 1.6rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s;
}

.btn:hover {
  background-color: rgb(46, 42, 80);
}
.difficulty {
  cursor: pointer;
}

/* Form */
.form,
.luck-text-formation {
  display: flex;
  margin-bottom: var(--space-header);
  justify-content: center;
}

.luck-text-formation {
  font-size: 2.2rem;
  font-weight: bold;
}

.luck-text {
  color: rgb(48, 48, 120);
  font-weight: bold;
}

.win-text {
  position: absolute;
  top: 15rem;
  left: 25%;
  text-shadow: 0.1rem 0.1rem 0.5rem rgba(33, 174, 15, 0.481);
  z-index: 200;
  color: rgb(227, 236, 229);
  font-size: 2.6rem;
  font-weight: bold;
  text-align: center;
}

.lost-text {
  position: absolute;
  top: 15rem;
  left: 25%;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  z-index: 200;
  color: rgb(202, 175, 175);
  font-size: 2.6rem;
  font-weight: bold;
  text-align: center;
}

/* boxes */

.main-container {
  margin-top: 10rem;
  position: relative;
}

.box-container {
  max-width: 32rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  /* margin-left: 30rem; */
}

.box {
  width: 10rem;
  height: 10rem;
  background-color: var(--pressed-box);
  cursor: pointer;
  transition: all 0.1s;
}

.box:hover {
  background-color: var(--hover-box);
}

/* Modal  & overlay*/

.modal-info {
  position: absolute;
  left: 33rem;
  top: 3rem;
  /* transform: translateX(-50%);
  transform: translateY(-50%); */
  width: 60rem;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.list-info {
  margin-top: 1.1rem;
}
.modal-infoText--easy,
.modal-infoText--medium,
.modal-infoText--hard {
  font-weight: 700;
}
.modal-infoText--easy {
  color: rgba(0, 128, 0, 0.833);
}

.modal-infoText--medium {
  color: rgba(186, 166, 17, 0.932);
}

.modal-infoText--hard {
  color: rgba(186, 59, 17, 0.981);
}

.modal-list--easy {
  background-color: rgba(0, 128, 0, 0.7);
  width: 26rem;
  padding-left: 0.4rem;
  margin-bottom: 0.5rem;
  /* font-size: 1.4rem; */
  display: flex;
  justify-content: space-between;
}

.modal-list--medium {
  /* font-size: 1.4rem; */
  background-color: rgba(186, 166, 17, 0.7);
  width: 26rem;
  padding-left: 0.4rem;
  margin-bottom: 0.5rem;

  display: flex;
  justify-content: space-between;
}

.modal-list--hard {
  background-color: rgba(186, 59, 17, 0.7);
  width: 26rem;
  padding-left: 0.4rem;

  display: flex;
  justify-content: space-between;
}

.close-modal {
  position: absolute;
  top: -1.2rem;
  right: 0.3rem;
  font-size: 5rem;
  color: #333;

  cursor: pointer;
  border: none;
  background: none;
}

.win-overlay {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(19, 79, 5, 0.785);
  backdrop-filter: blur(3px);
  z-index: 10;
}
.overlay {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.792);
  backdrop-filter: blur(3px);
  z-index: 10;
}

.footer {
  margin-bottom: 1.2rem;
  text-align: center;
}

/* ****************************** */
/* Extra commands about hide etc */
/* ***************************** */

.hidden {
  display: none;
}

.pointerEvent {
  pointer-events: none;
}

.win-box {
  background-color: var(--win-box);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.2rem;
}

.lost-box {
  background-color: var(--lost-box);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.2rem;
}

/* ****************** */
/* MEDIA QUERIES */
/* ****************** */
@media (max-width: 1100px) {
  .lost-text,
  .win-text {
    left: 10rem;
    font-size: 5rem;
  }
}
@media (max-width: 960px) {
  .header-text {
    font-size: 2.5rem;
  }

  .btn {
    padding: 1rem;
    font-size: 1.2rem;
  }

  .modal-info {
    left: 20rem;
    top: 9rem;
    width: 50rem;
    padding: 5rem;
    font-size: 1.5rem;
  }

  .lost-text,
  .win-text {
    left: 10rem;
    font-size: 2.6rem;
  }
}

@media (max-width: 760px) {
  .modal-info {
    left: 15rem;
    top: 9rem;
    width: 45rem;
    padding: 4.5rem;
    font-size: 1.2rem;
  }

  .lost-text,
  .win-text {
    left: 7rem;
    font-size: 1.9rem;
  }
}

@media (max-width: 660px) {
  .header-text {
    font-size: 2rem;
  }

  .modal-info {
    left: 15rem;
    top: 9rem;
    width: 35rem;
    padding: 4rem;
    font-size: 1.2rem;
  }
  .lost-text,
  .win-text {
    left: 7rem;
    font-size: 1.7rem;
  }
}

@media (max-width: 515px) {
  .modal-info {
    left: 9rem;
    top: 9rem;
    width: 35rem;
    padding: 4rem;
    font-size: 1.2rem;
  }
  .lost-text,
  .win-text {
    left: 3rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .header-text {
    font-size: 1.4rem;
  }
  .btn {
    padding: 0.6rem;
    font-size: 0.8rem;
  }
  .btns {
    gap: 0.9rem;
  }
}

@media (max-width: 460px) {
  .modal-info {
    left: 6rem;
    top: 9rem;
    width: 35rem;
    padding: 3rem;
    font-size: 1.2rem;
  }

  .lost-text,
  .win-text {
    left: 2rem;
    font-size: 1.6rem;
  }
}

@media (max-width: 430px) {
  .modal-info {
    left: 7rem;
    top: 9rem;
    width: 30rem;
    padding: 3rem;
    font-size: 1.2rem;
  }
  .modal-list--easy,
  .modal-list--hard,
  .modal-list--medium {
    width: 20rem;
  }

  .lost-text,
  .win-text {
    left: 2rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 390px) {
  .modal-info {
    left: 5rem;
    top: 9rem;
    width: 30rem;
    padding: 3rem;
    font-size: 1rem;
  }
  .modal-list--easy,
  .modal-list--hard,
  .modal-list--medium {
    width: 15rem;
  }

  .lost-text,
  .win-text {
    left: 2rem;
    font-size: 1.5rem;
  }

  .footer {
    font-size: 1.2rem;
  }
}

@media (max-width: 350px) {
  .header-text {
    font-size: 1rem;
  }
  .btn {
    padding: 0.3rem;
    font-size: 0.5rem;
  }
  .btns {
    gap: 0.5rem;
  }

  .modal-info {
    left: 5rem;
    top: 9rem;
    width: 25rem;
    padding: 2rem;
    font-size: 0.9rem;
  }
  .modal-list--easy,
  .modal-list--hard,
  .modal-list--medium {
    width: 13rem;
  }

  .lost-text,
  .win-text {
    left: 3rem;
    font-size: 1.5rem;
  }

  .footer {
    font-size: 1rem;
  }
}
